
<div id="wrapper" style="width:100%; text-align:center">

<h1>Gallery</h1>

<% @pictures.each do |picture| %>

	<h2><%= picture.title %></h2>

	<h3>by <%= picture.artist %></h3>
	
	<%= link_to picture_path(picture) do %>
	<%= image_tag picture.url %>
	<% end %>

<% end %>
</div>
